In [1]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas as pd
import folium
import re

In [ ]:
data = pd.read_csv('40041 - King Georges Road.csv')
transformed_df = data[data['date'] >= '2013-01-02']
transformed_df

In [4]:
import pandas as pd

data = {'40041': [-33.984394, 151.109436],
 'HHW006':[-34.836449, 149.007996],
 '53004':[-33.753170, 151.151077],
 'MUB001':[-36.003071, 146.003235],
 '22001':[-33.825577, 151.233261],
 '02393':[-33.874722, 151.216217],
 '100001':[-33.878181, 150.924942],
 '50240':[-33.796436, 150.987595],
 '66249':[-33.869324, 150.963486],
 '53005':[-33.763687, 151.136978],
 '33014':[-33.806141, 151.179520],
 '23067':[-33.934475, 151.158310],
 '50260':[-33.819763, 151.051880],
 '34016':[-33.778187, 151.267136],
 '28008':[-33.863270, 151.066605],
 '34028':[-33.793015, 151.253708],
 '87001':[-33.746132, 150.681915],
 '74229':[-33.760658, 151.079620],
 '72027':[-33.740467, 150.984421],
 '32029':[-33.821175, 151.149902],
 '24021':[-33.899914, 151.088058],
 '02413':[-33.873695, 151.195328],
 '10011':[-33.876652, 151.230606],
 '68025':[-33.816696, 150.976623],
 '18011':[-33.917812, 151.171143],
 '74228':[33.723019, 151.036606],
 '57025':[-33.725773, 151.219788]
}

# 将字典转换为DataFrame
data_location  = pd.DataFrame.from_dict(data, orient='index', columns=['Latitude', 'Longitude'])

# 重置索引，将ID作为一列
data_location.reset_index(inplace=True)
data_location.rename(columns={'index': 'ID'}, inplace=True)

data_location

        ID   Latitude   Longitude
0    40041 -33.984394  151.109436
1   HHW006 -34.836449  149.007996
2    53004 -33.753170  151.151077
3   MUB001 -36.003071  146.003235
4    22001 -33.825577  151.233261
5    02393 -33.874722  151.216217
6   100001 -33.878181  150.924942
7    50240 -33.796436  150.987595
8    66249 -33.869324  150.963486
9    53005 -33.763687  151.136978
10   33014 -33.806141  151.179520
11   23067 -33.934475  151.158310
12   50260 -33.819763  151.051880
13   34016 -33.778187  151.267136
14   28008 -33.863270  151.066605
15   34028 -33.793015  151.253708
16   87001 -33.746132  150.681915
17   74229 -33.760658  151.079620
18   72027 -33.740467  150.984421
19   32029 -33.821175  151.149902
20   24021 -33.899914  151.088058
21   02413 -33.873695  151.195328
22   10011 -33.876652  151.230606
23   68025 -33.816696  150.976623
24   18011 -33.917812  151.171143
25   74228  33.723019  151.036606
26   57025 -33.725773  151.219788

In [5]:
data_sensor  = pd.read_csv('tfnsw.csv')
data_sensor

,date,40041,006,53004,001,22001,02393,100001,50240,66249,...,74229,72027,32029,24021,02413,10011,68025,18011,74228,57025
0,2013-01-02 00:00:00,383.0,0.0,307.0,0.0,605.0,112.0,208.0,132.0,211.0,...,132.0,0.0,55.0,317.0,67.0,699.0,291.0,42.0,157.0,84.0
1,2013-01-02 01:00:00,218.0,0.0,161.0,0.0,309.0,72.0,115.0,90.0,111.0,...,46.0,0.0,26.0,167.0,33.0,401.0,153.0,35.0,67.0,49.0
2,2013-01-02 02:00:00,161.0,0.0,126.0,0.0,176.0,56.0,81.0,86.0,91.0,...,34.0,0.0,19.0,134.0,33.0,290.0,94.0,50.0,58.0,39.0
3,2013-01-02 03:00:00,115.0,0.0,178.0,0.0,178.0,54.0,91.0,136.0,118.0,...,33.0,0.0,30.0,132.0,42.0,247.0,87.0,59.0,67.0,48.0
4,2013-01-02 04:00:00,227.0,0.0,290.0,0.0,268.0,70.0,144.0,205.0,141.0,...,47.0,0.0,32.0,199.0,68.0,240.0,151.0,145.0,117.0,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100027,2024-05-31 19:00:00,0.0,381.0,2120.0,359.0,2146.0,604.0,1942.0,4160.0,533.0,...,1379.0,1721.0,1186.0,0.0,0.0,3093.0,1652.0,0.0,1426.0,713.0
100028,2024-05-31 20:00:00,0.0,370.0,1577.0,218.0,1803.0,463.0,1648.0,3277.0,392.0,...,998.0,1151.0,861.0,0.0,0.0,2398.0,1382.0,0.0,958.0,566.0
100029,2024-05-31 21:00:00,0.0,273.0,1485.0,240.0,1883.0,440.0,1476.0,2983.0,311.0,...,947.0,992.0,853.0,0.0,0.0,2356.0,1339.0,0.0,849.0,544.0
100030,2024-05-31 22:00:00,0.0,233.0,1357.0,118.0,1999.0,486.0,1343.0,2992.0,306.0,...,814.0,825.0,845.0,0.0,0.0,2141.0,1055.0,0.0,693.0,410.0
100031,2024-05-31 23:00:00,0.0,168.0,914.0,81.0,1408.0,397.0,1066.0,2131.0,192.0,...,540.0,519.0,551.0,0.0,0.0,1677.0,785.0,0.0,450.0,230.0

In [6]:
# 提取ID和经纬度
id_coords = data_location[['ID', 'Latitude', 'Longitude']]

# 将ID设为索引，方便查找
id_coords.set_index('ID', inplace=True)
from itertools import combinations

# 获取所有ID，排除日期列
id_list = data_sensor.columns.tolist()
id_list.remove('date')

# 生成所有ID对
id_pairs = list(combinations(id_list, 2))
import requests

def get_driving_distance(coord1, coord2):
    url = f'http://localhost:5000/route/v1/driving/{coord1[1]},{coord1[0]};{coord2[1]},{coord2[0]}?overview=false'
    response = requests.get(url)
    data = response.json()
    if data['code'] == 'Ok':
        # 距离以米为单位
        distance = data['routes'][0]['distance']
        return distance
    else:
        return None
# 创建一个空的结果列表
results = []

for id1, id2 in id_pairs:
    # 获取ID的坐标
    try:
        coord1 = id_coords.loc[int(id1), ['Latitude', 'Longitude']]
        coord2 = id_coords.loc[int(id2), ['Latitude', 'Longitude']]
    except KeyError:
        # 如果ID在id_coords中不存在，跳过
        continue

    # 计算行驶距离
    distance = get_driving_distance(coord1, coord2)
    if distance is not None:
        results.append({'ID1': id1, 'ID2': id2, 'Distance_m': distance})
df_results = pd.DataFrame(results)
df_results

Empty DataFrame
Columns: []
Index: []

In [2]:
import pandas as pd
import glob
import os
import re

# 设置文件夹路径
folder_path = './'

# 获取所有CSV文件
csv_files = glob.glob(os.path.join(folder_path, '*.csv'))
csv_files

['./40041 - King Georges Road.csv',
 './HHW006 - M31 Hume Highway.csv',
 './53004 - Pacific Highway.csv',
 './MUB001 - Melbourne Street.csv',
 './22001 - Military Road.csv',
 './02393 - Crown Street.csv',
 './100001 - Cambridge Street.csv',
 './50240 - Briens Road.csv',
 './66249 - Fairfield Street.csv',
 './53005 - Ryde Road.csv',
 './33014 - Pacific Highway.csv',
 './23067 - Marsh Street.csv',
 './50260 - Silverwater Road.csv',
 './34016 - Condamine Street.csv',
 './28008 - Centenary Drive.csv',
 './34028 - Burnt Bridge Creek Deviation.csv',
 './87001 - Great Western Highway.csv',
 './74229 - Beecroft Road.csv',
 './72027 - Windsor Road.csv',
 './32029 - Burns Bay Road.csv',
 './24021 - Punchbowl Road.csv',
 './02413 - Allen Street.csv',
 './10011 - New South Head Road.csv',
 './68025 - Great Western Highway.csv',
 './18011 - Princes Highway.csv',
 './74228 - New Line Road.csv',
 './57025 - Forest Way.csv']

In [ ]:
for file in csv_files:
    # 从文件名中提取数字
    filename = os.path.basename(file)
    match = re.search(r'(\d+)', filename)
    if match:
        column_name = match.group(1)
    else:
        continue  # 如果文件名中没有数字，跳过这个文件
match

In [ ]:
csv_files[:1]

In [18]:
final_df = pd.DataFrame()
for file in csv_files:
    # 从文件名中提取数字
    filename = os.path.basename(file)
    match = re.search(r'(\d+)', filename)
    if match:
        column_name = match.group(1)
    else:
        continue  # 如果文件名中没有数字，跳过这个文件
    
    # 读取CSV文件
    df = pd.read_csv(file)
                                
    df.drop_duplicates(inplace=True)
    # 筛选包含“All Vehicles”的行
    df = df[df['classification_seq'] == 'All Vehicles']
    
    # 创建一个空的DataFrame来保存转换后的数据
    transformed_df = pd.DataFrame()
    
    # 遍历每一行数据
    for _, row in df.iterrows():
        # 对于每一行数据，我们需要将24个小时的数据转换为24行
        for hour in range(24):
            hour_column = f'hour_{hour:02}'
            if hour_column in row:
                # 创建一个新行
                new_row = {
                    'date': pd.Timestamp(f"{row['date']} {hour:02}:00:00"),
                    'direction': row['cardinal_direction_seq'],
                    column_name: row[hour_column]  # 使用文件名中的数字作为列名
                }
                # 添加到转换DataFrame
                transformed_df = transformed_df.append(new_row, ignore_index=True)
    
    # 只保留2013年1月2日及以后的数据
    transformed_df = transformed_df[transformed_df['date'] >= '2013-01-02']
    
    # 合并到最终的DataFrame
    if final_df.empty:
        final_df = transformed_df
    else:
        final_df = pd.concat([final_df, transformed_df], ignore_index=True)

# 聚合数据，按日期进行分组，并且聚合所有方向的数据
final_df = final_df.groupby('date').agg(lambda x: x.dropna().unique().sum())

In [19]:
final_df

,direction,40041,006,53004,001,22001,02393,100001,50240,66249,...,74229,72027,32029,24021,02413,10011,68025,18011,74228,57025
date,,,,,,,,,,,,,,,,,,,,,
2013-01-02 00:00:00,SouthboundNorthboundEastboundWestbound,383.0,0.0,307.0,0.0,605.0,112.0,208.0,132.0,211.0,...,132.0,0.0,55.0,317.0,67.0,699.0,291.0,42.0,157.0,84.0
2013-01-02 01:00:00,SouthboundNorthboundEastboundWestbound,218.0,0.0,161.0,0.0,309.0,72.0,115.0,90.0,111.0,...,46.0,0.0,26.0,167.0,33.0,401.0,153.0,35.0,67.0,49.0
2013-01-02 02:00:00,SouthboundNorthboundEastboundWestbound,161.0,0.0,126.0,0.0,176.0,56.0,81.0,86.0,91.0,...,34.0,0.0,19.0,134.0,33.0,290.0,94.0,50.0,58.0,39.0
2013-01-02 03:00:00,SouthboundNorthboundEastboundWestbound,115.0,0.0,178.0,0.0,178.0,54.0,91.0,136.0,118.0,...,33.0,0.0,30.0,132.0,42.0,247.0,87.0,59.0,67.0,48.0
2013-01-02 04:00:00,SouthboundNorthboundEastboundWestbound,227.0,0.0,290.0,0.0,268.0,70.0,144.0,205.0,141.0,...,47.0,0.0,32.0,199.0,68.0,240.0,151.0,145.0,117.0,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-31 19:00:00,SouthboundNorthboundWestboundEastbound,0.0,381.0,2120.0,359.0,2146.0,604.0,1942.0,4160.0,533.0,...,1379.0,1721.0,1186.0,0.0,0.0,3093.0,1652.0,0.0,1426.0,713.0
2024-05-31 20:00:00,SouthboundNorthboundWestboundEastbound,0.0,370.0,1577.0,218.0,1803.0,463.0,1648.0,3277.0,392.0,...,998.0,1151.0,861.0,0.0,0.0,2398.0,1382.0,0.0,958.0,566.0
2024-05-31 21:00:00,SouthboundNorthboundWestboundEastbound,0.0,273.0,1485.0,240.0,1883.0,440.0,1476.0,2983.0,311.0,...,947.0,992.0,853.0,0.0,0.0,2356.0,1339.0,0.0,849.0,544.0
2024-05-31 22:00:00,SouthboundNorthboundWestboundEastbound,0.0,233.0,1357.0,118.0,1999.0,486.0,1343.0,2992.0,306.0,...,814.0,825.0,845.0,0.0,0.0,2141.0,1055.0,0.0,693.0,410.0
2024-05-31 23:00:00,SouthboundNorthboundWestboundEastbound,0.0,168.0,914.0,81.0,1408.0,397.0,1066.0,2131.0,192.0,...,540.0,519.0,551.0,0.0,0.0,1677.0,785.0,0.0,450.0,230.0

In [20]:
df = final_df.drop(columns=['direction'])

# Reset the index to make 'date' a separate column
df = df.reset_index()

# If the index column is named 'date', you can rename it if needed
df = df.rename(columns={'index': 'date'})
df

,date,40041,006,53004,001,22001,02393,100001,50240,66249,...,74229,72027,32029,24021,02413,10011,68025,18011,74228,57025
0,2013-01-02 00:00:00,383.0,0.0,307.0,0.0,605.0,112.0,208.0,132.0,211.0,...,132.0,0.0,55.0,317.0,67.0,699.0,291.0,42.0,157.0,84.0
1,2013-01-02 01:00:00,218.0,0.0,161.0,0.0,309.0,72.0,115.0,90.0,111.0,...,46.0,0.0,26.0,167.0,33.0,401.0,153.0,35.0,67.0,49.0
2,2013-01-02 02:00:00,161.0,0.0,126.0,0.0,176.0,56.0,81.0,86.0,91.0,...,34.0,0.0,19.0,134.0,33.0,290.0,94.0,50.0,58.0,39.0
3,2013-01-02 03:00:00,115.0,0.0,178.0,0.0,178.0,54.0,91.0,136.0,118.0,...,33.0,0.0,30.0,132.0,42.0,247.0,87.0,59.0,67.0,48.0
4,2013-01-02 04:00:00,227.0,0.0,290.0,0.0,268.0,70.0,144.0,205.0,141.0,...,47.0,0.0,32.0,199.0,68.0,240.0,151.0,145.0,117.0,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99283,2024-05-31 19:00:00,0.0,381.0,2120.0,359.0,2146.0,604.0,1942.0,4160.0,533.0,...,1379.0,1721.0,1186.0,0.0,0.0,3093.0,1652.0,0.0,1426.0,713.0
99284,2024-05-31 20:00:00,0.0,370.0,1577.0,218.0,1803.0,463.0,1648.0,3277.0,392.0,...,998.0,1151.0,861.0,0.0,0.0,2398.0,1382.0,0.0,958.0,566.0
99285,2024-05-31 21:00:00,0.0,273.0,1485.0,240.0,1883.0,440.0,1476.0,2983.0,311.0,...,947.0,992.0,853.0,0.0,0.0,2356.0,1339.0,0.0,849.0,544.0
99286,2024-05-31 22:00:00,0.0,233.0,1357.0,118.0,1999.0,486.0,1343.0,2992.0,306.0,...,814.0,825.0,845.0,0.0,0.0,2141.0,1055.0,0.0,693.0,410.0
99287,2024-05-31 23:00:00,0.0,168.0,914.0,81.0,1408.0,397.0,1066.0,2131.0,192.0,...,540.0,519.0,551.0,0.0,0.0,1677.0,785.0,0.0,450.0,230.0

In [21]:
# df.to_csv('tfnsw.csv',index=False)

In [32]:
df = pd.read_csv('tfnsw.csv')
# 确保'date'列为datetime类型
df['date'] = pd.to_datetime(df['date'])

# 设置'date'列为DataFrame的索引
df.set_index('date', inplace=True)

# 创建一个包含所有需要的时间点的完整时间序列
all_dates = pd.date_range(start='2013-01-02 00:00:00', end='2024-05-31 23:00:00', freq='H')

# 使用reindex填充缺失的日期，并将缺失的数值填充为0
df_complete = df.reindex(all_dates, fill_value=0)

# 将索引名称重新设置为'date'
df_complete.index.name = 'date'
# Reset the index to make 'date' a separate column
df_complete = df_complete.reset_index()

# If the index column is named 'date', you can rename it if needed
df_complete = df_complete.rename(columns={'index': 'date'})
df_complete.to_csv('tfnsw.csv',index=False)
df_complete

,date,40041,006,53004,001,22001,02393,100001,50240,66249,...,74229,72027,32029,24021,02413,10011,68025,18011,74228,57025
0,2013-01-02 00:00:00,383.0,0.0,307.0,0.0,605.0,112.0,208.0,132.0,211.0,...,132.0,0.0,55.0,317.0,67.0,699.0,291.0,42.0,157.0,84.0
1,2013-01-02 01:00:00,218.0,0.0,161.0,0.0,309.0,72.0,115.0,90.0,111.0,...,46.0,0.0,26.0,167.0,33.0,401.0,153.0,35.0,67.0,49.0
2,2013-01-02 02:00:00,161.0,0.0,126.0,0.0,176.0,56.0,81.0,86.0,91.0,...,34.0,0.0,19.0,134.0,33.0,290.0,94.0,50.0,58.0,39.0
3,2013-01-02 03:00:00,115.0,0.0,178.0,0.0,178.0,54.0,91.0,136.0,118.0,...,33.0,0.0,30.0,132.0,42.0,247.0,87.0,59.0,67.0,48.0
4,2013-01-02 04:00:00,227.0,0.0,290.0,0.0,268.0,70.0,144.0,205.0,141.0,...,47.0,0.0,32.0,199.0,68.0,240.0,151.0,145.0,117.0,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100027,2024-05-31 19:00:00,0.0,381.0,2120.0,359.0,2146.0,604.0,1942.0,4160.0,533.0,...,1379.0,1721.0,1186.0,0.0,0.0,3093.0,1652.0,0.0,1426.0,713.0
100028,2024-05-31 20:00:00,0.0,370.0,1577.0,218.0,1803.0,463.0,1648.0,3277.0,392.0,...,998.0,1151.0,861.0,0.0,0.0,2398.0,1382.0,0.0,958.0,566.0
100029,2024-05-31 21:00:00,0.0,273.0,1485.0,240.0,1883.0,440.0,1476.0,2983.0,311.0,...,947.0,992.0,853.0,0.0,0.0,2356.0,1339.0,0.0,849.0,544.0
100030,2024-05-31 22:00:00,0.0,233.0,1357.0,118.0,1999.0,486.0,1343.0,2992.0,306.0,...,814.0,825.0,845.0,0.0,0.0,2141.0,1055.0,0.0,693.0,410.0
100031,2024-05-31 23:00:00,0.0,168.0,914.0,81.0,1408.0,397.0,1066.0,2131.0,192.0,...,540.0,519.0,551.0,0.0,0.0,1677.0,785.0,0.0,450.0,230.0

In [23]:
df = pd.read_csv('tfnsw.csv')
df

,date,40041,006,53004,001,22001,02393,100001,50240,66249,...,74229,72027,32029,24021,02413,10011,68025,18011,74228,57025
0,2013-01-02 00:00:00,383.0,0.0,307.0,0.0,605.0,112.0,208.0,132.0,211.0,...,132.0,0.0,55.0,317.0,67.0,699.0,291.0,42.0,157.0,84.0
1,2013-01-02 01:00:00,218.0,0.0,161.0,0.0,309.0,72.0,115.0,90.0,111.0,...,46.0,0.0,26.0,167.0,33.0,401.0,153.0,35.0,67.0,49.0
2,2013-01-02 02:00:00,161.0,0.0,126.0,0.0,176.0,56.0,81.0,86.0,91.0,...,34.0,0.0,19.0,134.0,33.0,290.0,94.0,50.0,58.0,39.0
3,2013-01-02 03:00:00,115.0,0.0,178.0,0.0,178.0,54.0,91.0,136.0,118.0,...,33.0,0.0,30.0,132.0,42.0,247.0,87.0,59.0,67.0,48.0
4,2013-01-02 04:00:00,227.0,0.0,290.0,0.0,268.0,70.0,144.0,205.0,141.0,...,47.0,0.0,32.0,199.0,68.0,240.0,151.0,145.0,117.0,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99283,2024-05-31 19:00:00,0.0,381.0,2120.0,359.0,2146.0,604.0,1942.0,4160.0,533.0,...,1379.0,1721.0,1186.0,0.0,0.0,3093.0,1652.0,0.0,1426.0,713.0
99284,2024-05-31 20:00:00,0.0,370.0,1577.0,218.0,1803.0,463.0,1648.0,3277.0,392.0,...,998.0,1151.0,861.0,0.0,0.0,2398.0,1382.0,0.0,958.0,566.0
99285,2024-05-31 21:00:00,0.0,273.0,1485.0,240.0,1883.0,440.0,1476.0,2983.0,311.0,...,947.0,992.0,853.0,0.0,0.0,2356.0,1339.0,0.0,849.0,544.0
99286,2024-05-31 22:00:00,0.0,233.0,1357.0,118.0,1999.0,486.0,1343.0,2992.0,306.0,...,814.0,825.0,845.0,0.0,0.0,2141.0,1055.0,0.0,693.0,410.0
99287,2024-05-31 23:00:00,0.0,168.0,914.0,81.0,1408.0,397.0,1066.0,2131.0,192.0,...,540.0,519.0,551.0,0.0,0.0,1677.0,785.0,0.0,450.0,230.0

In [10]:
final_df = pd.DataFrame()
for file in csv_files[:3]:
    # 从文件名中提取数字
    filename = os.path.basename(file)
    match = re.search(r'(\d+)', filename)
    if match:
        column_name = match.group(1)
    else:
        continue  # 如果文件名中没有数字，跳过这个文件
    
    # 读取CSV文件
    df = pd.read_csv(file).iloc[:10]
                                
    df.drop_duplicates(inplace=True)
    # 筛选包含“All Vehicles”的行
    df = df[df['classification_seq'] == 'All Vehicles']    
    # 先行去重
    df.drop_duplicates(inplace=True)
    
    # 筛选包含“All Vehicles”的行
    df = df[df['classification_seq'] == 'All Vehicles']
    
    # 创建一个空的DataFrame来保存转换后的数据
    transformed_df = pd.DataFrame()
    
    # 遍历每一行数据
    for _, row in df.iterrows():
        # 对于每一行数据，我们需要将24个小时的数据转换为24行
        for hour in range(24):
            hour_column = f'hour_{hour:02}'
            if hour_column in row:
                # 创建一个新行
                new_row = {
                    'date': pd.Timestamp(f"{row['date']} {hour:02}:00:00"),
                    column_name: row[hour_column]  # 使用文件名中的数字作为列名
                }
                # 添加到转换DataFrame
                transformed_df = transformed_df.append(new_row, ignore_index=True)
    
    # 只保留2013年1月2日及以后的数据
    transformed_df = transformed_df[transformed_df['date'] >= '2013-01-02']
    
    # 合并到最终的DataFrame
    if final_df.empty:
        final_df = transformed_df
    else:
        final_df = pd.concat([final_df, transformed_df], ignore_index=True)

# 按日期聚合数据，合并同一日期的所有记录
final_df = final_df.groupby('date').sum()

In [11]:
final_df

                      40041  006
date
2013-01-02 00:00:00   383.0  0.0
2013-01-02 01:00:00   218.0  0.0
2013-01-02 02:00:00   161.0  0.0
2013-01-02 03:00:00   115.0  0.0
2013-01-02 04:00:00   227.0  0.0
2013-01-02 05:00:00   511.0  0.0
2013-01-02 06:00:00  1025.0  0.0
2013-01-02 07:00:00  1325.0  0.0
2013-01-02 08:00:00  1609.0  0.0
2013-01-02 09:00:00  1792.0  0.0
2013-01-02 10:00:00  2183.0  0.0
2013-01-02 11:00:00  2381.0  0.0
2013-01-02 12:00:00  2286.0  0.0
2013-01-02 13:00:00  2212.0  0.0
2013-01-02 14:00:00  2245.0  0.0
2013-01-02 15:00:00  2292.0  0.0
2013-01-02 16:00:00  2189.0  0.0
2013-01-02 17:00:00  2301.0  0.0
2013-01-02 18:00:00  1856.0  0.0
2013-01-02 19:00:00  1306.0  0.0
2013-01-02 20:00:00   966.0  0.0
2013-01-02 21:00:00   923.0  0.0
2013-01-02 22:00:00   675.0  0.0
2013-01-02 23:00:00   522.0  0.0
2013-01-03 00:00:00   308.0  0.0
2013-01-03 01:00:00   199.0  0.0
2013-01-03 02:00:00   136.0  0.0
2013-01-03 03:00:00   138.0  0.0
2013-01-03 04:00:00   231.0  0.0
2013-01-03 05:00:00   615.0  0.0
2013-01-03 06:00:00  1244.0  0.0
2013-01-03 07:00:00  1692.0  0.0
2013-01-03 08:00:00  1912.0  0.0
2013-01-03 09:00:00  2021.0  0.0
2013-01-03 10:00:00  2331.0  0.0
2013-01-03 11:00:00  2670.0  0.0
2013-01-03 12:00:00  2441.0  0.0
2013-01-03 13:00:00  2385.0  0.0
2013-01-03 14:00:00  2466.0  0.0
2013-01-03 15:00:00  2693.0  0.0
2013-01-03 16:00:00  2636.0  0.0
2013-01-03 17:00:00  2710.0  0.0
2013-01-03 18:00:00  2312.0  0.0
2013-01-03 19:00:00  1704.0  0.0
2013-01-03 20:00:00  1432.0  0.0
2013-01-03 21:00:00  1437.0  0.0
2013-01-03 22:00:00  1008.0  0.0
2013-01-03 23:00:00   598.0  0.0

In [ ]:
import pandas as pd
import glob
import os

# 设置文件夹路径
folder_path = './'

# 获取所有CSV文件
csv_files = glob.glob(os.path.join(folder_path, '*.csv'))

# 读取每个文件并找出最早的日期
for file in csv_files:
    df = pd.read_csv(file)
    # 假设日期存储在名为'date'的列中
    if 'date' in df.columns:
        earliest_date = pd.to_datetime(df['date']).min()
        print(f"{os.path.basename(file)}: {earliest_date.strftime('%Y-%m-%d')}")
    else:
        print(f"{os.path.basename(file)}: No 'date' column found")

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
colors = sns.color_palette("Set1")
node1='801234'
node2='806585'
node3='806617'
# 示例数据：生成三组时间序列数据
np.random.seed(42)
data_time = {
    '6 am': data_2001[node1],
    '12 am': data_2003[node1],
    '8 pm': data_2001[node1]
}

data_location = {
    'location 11': data_2001['801231'],
    'location 10': data_2003['801231'],
    'location 20': data_2005['801231']
}

data_source = {
    'source A (BikeIn)': data_2001['801232'],
    'source B (BikeOut)': data_2003['801232'],
    'source C (TaxiIn)': data_2005['801232']
}

# 将数据转换为DataFrame
df_time = pd.DataFrame(data_time)
df_location = pd.DataFrame(data_location)
df_source = pd.DataFrame(data_source)

# 设置图表风格
sns.set(style="whitegrid")

# 设置字号
title_fontsize = 19
label_fontsize = 17
legend_fontsize = 17
tick_fontsize = 19
linewidth_size=2

# 绘制密度图
fig, axes = plt.subplots(1, 3, figsize=(18, 5), sharey=False)

sns.kdeplot(data=df_time['6 am'], ax=axes[0], linewidth=linewidth_size, fill=True, label='2005', color=colors[0])
sns.kdeplot(data=df_time['12 am'], ax=axes[0], linewidth=linewidth_size,fill=True, label='2015', color=colors[1])
sns.kdeplot(data=df_time['8 pm'], ax=axes[0], linewidth=linewidth_size,fill=True, label='2024', color=colors[2])
axes[0].set_title('Node '+node1, fontsize=title_fontsize)
axes[0].set_xlabel('Value', fontsize=label_fontsize)
axes[0].set_ylabel('Density', fontsize=label_fontsize)
axes[0].legend( fontsize=legend_fontsize, title_fontsize=legend_fontsize)
axes[0].tick_params(axis='both', which='major', labelsize=tick_fontsize)
axes[0].set_xlim(-30, 900)

sns.kdeplot(data=df_location['location 11'], ax=axes[1], linewidth=linewidth_size,fill=True, label='2005', color=colors[0])
sns.kdeplot(data=df_location['location 10'], ax=axes[1], linewidth=linewidth_size,fill=True, label='2015', color=colors[1])
sns.kdeplot(data=df_location['location 20'], ax=axes[1], linewidth=linewidth_size,fill=True, label='2024', color=colors[2])
axes[1].set_title('Node '+node2, fontsize=title_fontsize)
axes[1].set_xlabel('Value', fontsize=label_fontsize)
axes[1].set_ylabel('Density', fontsize=label_fontsize)
axes[1].legend(fontsize=legend_fontsize, title_fontsize=legend_fontsize)
axes[1].tick_params(axis='both', which='major', labelsize=tick_fontsize)
axes[1].set_xlim(-10, 100)

sns.kdeplot(data=df_source['source A (BikeIn)'], ax=axes[2], linewidth=linewidth_size,fill=True, label='2005', color=colors[0])
sns.kdeplot(data=df_source['source B (BikeOut)'], ax=axes[2], linewidth=linewidth_size,fill=True, label='2015', color=colors[1])
sns.kdeplot(data=df_source['source C (TaxiIn)'], ax=axes[2], linewidth=linewidth_size,fill=True, label='2024', color=colors[2])
axes[2].set_title('Node '+node3, fontsize=title_fontsize)
axes[2].set_ylabel('Density', fontsize=label_fontsize)
axes[2].set_xlabel('Value', fontsize=label_fontsize)
axes[2].legend(fontsize=legend_fontsize, title_fontsize=legend_fontsize)
axes[2].tick_params(axis='both', which='major', labelsize=tick_fontsize)
axes[2].set_xlim(-10, 900)

# 显示图表
plt.tight_layout()
plt.savefig('fig4.pdf')
plt.show()